header {
  background-color: blue;
  height: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
aside {
  background-color: beige;
  margin: 20px 20px 20px 30px;
  width: 200px;
  float: left;
  min-height: calc(100vh - 100px);
  border-radius: 10px;
}
main {
  background: red;
  margin-top: 20px;
  margin-right: 30px;
  width: calc(100% - 280px);
  float: left;
}
