.budges {
  display: inline-block;
}
.budges .ui-design {
  background-color: violet;
  border: 2px solid rgb(44, 16, 44);
  border-radius: 10px;
  display: inline-block;
  padding: 3px;
  margin: 3px 3px 3px 0px;
}
.budges .animation {
  background-color: rgb(180, 180, 100);
  border: 2px solid rgb(58, 75, 13);
  border-radius: 10px;
  display: inline-block;
  padding: 3px;
  margin: 3px 3px 3px 0px;
}
.budges .user-exp {
  background-color: rgb(92, 37, 124);
  border: 2px solid rgb(37, 7, 37);
  border-radius: 10px;
  display: inline-block;
  padding: 3px;
  margin: 3px 3px 3px 0px;
}
.budges .word-press {
  background-color: rgb(18, 70, 57);
  border: 2px solid rgb(44, 16, 44);
  border-radius: 10px;
  display: inline-block;
  padding: 3px;
  margin: 3px 3px 3px 0px;
}
.budges .joomia {
  background-color: rgb(145, 110, 179);
  border: 2px solid rgb(44, 16, 44);
  border-radius: 10px;
  display: inline-block;
  padding: 3px;
  margin: 3px 3px 3px 0px;
}
