main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  grid-template-areas:
    "welcome welcome"
    "running running"
    "activity suggested";
}
main .welcome {
  grid-area: welcome;
}
main .running-courses {
  grid-area: running;
}
main .activity {
  grid-area: activity;
}
main .suggested-courses {
  grid-area: suggested;
}

main .trio-block {
  width: 100%;
  display: grid;
  background-color: beige;
  grid-template-columns: auto auto;
  gap: 10px;
  grid-template-areas:
    "title action"
    "content content";
  align-items: center;
}
main .trio-block > .title {
  grid-area: title;
  font: caption;
  color: rgb(25, 34, 167);
  float: left;
}
main .trio-block > .action {
  grid-area: action;
  float: right;
  font: caption;
  color: rgb(25, 34, 167);
  border: 2px solid violet;
  border-radius: 10px;
  display: inline-block;
  justify-self: end;
  background-color: thistle;
}

main .trio-block > .content {
  grid-area: content;
}

main .running-courses.trio-block > .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

main .running-courses .card {
  border: 1px solid rgb(27, 20, 20);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .running-courses .card .card-title {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 100%;
}
main .running-courses .card .ux-design {
  background: rgb(179, 121, 46);
}
main .running-courses .card .animation {
  background: rgb(113, 53, 224);
}
main .running-courses .card .ilustration {
  background: rgb(46, 170, 179);
}
main .running-courses .card .adobe-ilustrator {
  background: rgb(179, 46, 146);
}

main .running-courses .course-name {
  min-height: 100px;
  line-height: 25px;
  display: inline-block;
  font: caption;
  color: rgb(24, 141, 141);
  font-style: italic;
  padding: 5px 0px;
}

main .running-courses .additional-info {
  background: blueviolet;
  width: 100%;
  margin-top: auto;
  padding: 5px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "author free-space"
    "name free-space-bar";
}
main .running-courses .additional-info > .author {
  grid-area: author;
}
main .running-courses .additional-info > .free-space {
  grid-area: free-space;
}
main .running-courses .additional-info .name {
  grid-area: name;
}

main .running-courses .additional-info .free-space-bar {
  grid-area: free-space-bar;
}

main .trio-block > .graphic {
  grid-area: content;
  float: left;
  display: inline-block;
  width: 100%;
}

/* Suggested courses */

main .trio-block > .suggested-courses-content {
  display: grid;
  gap: 20px;
  padding-left: 10px;
  width: 100%;
  grid-area: content;
}

main .trio-block > .suggested-courses-content .box {
  border: 2px solid blueviolet;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas: "picture sccontent scrating";
  align-items: center;
}

main .trio-block .box .sc-picture {
  grid-area: picture;
  height: 100px;
}
main .trio-block .box .sc-art-title {
  grid-area: sccontent;
}
main .trio-block .box .sc-art-rating {
  grid-area: scrating;
}
